## Tuple
- Tuple is an immutable ordered sequence which supports hetrogeneous element,indexing,slicing & iteration

## Creating tuple

In [1]:
t=(1,"hi",[1,2,3],None)
print(t)
print(type(t))

(1, 'hi', [1, 2, 3], None)
<class 'tuple'>

In [2]:
t = ('hi')
type(t)

str

In [3]:
t=('hi',)
type(t)

tuple

In [4]:
t=(5)
type(t)

int

In [5]:
t=(5,)
type(t)

tuple

## Zipping

In [6]:
t1=(1,2,3)
t2=(4,5,6)
t=zip(t1,t2)
print(t)
t=tuple(zip(t1,t2))
print(t)#The two tuple must be of same size

<zip object at 0x000001F6300C61C0>
((1, 4), (2, 5), (3, 6))

## Tuple packing and unpacking

- Packing

In [7]:
a=1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

- Unpacking

In [8]:
m,n,o,p=a
print(m,n,o,p)

1 2 3 4

## Taking input from a user

In [9]:
tuple1=eval(input("Enter numbers seperated by commas - "))
print(tuple1)
print(type(tuple1))

Enter numbers seperated by commas - 1,2,6,5,7,7,4,36
(1, 2, 6, 5, 7, 7, 4, 36)
<class 'tuple'>

## Type conversion

In [10]:
s='hello'
t=tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [11]:
l=[1,2,3,4]
t=tuple(l)
print(t)

(1, 2, 3, 4)

# ` + and * `

In [12]:
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [13]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [14]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Membership Operators

In [15]:
8 in (12,3,5,9)

False

In [16]:
8 not in (12,3,5,9)

True

## Iterating through tuples

In [17]:
t=(4,5,6)
for i in t:
    print(t)

(4, 5, 6)
(4, 5, 6)
(4, 5, 6)

In [18]:
t=(4,5,6)
for i in t:
    print(i)

4
5
6

In [19]:
for i,j in enumerate(t):
    print(i,j)

0 4
1 5
2 6

## Comparing tuples
- from left to right elemnt wise comparison is done and must be of similar data structure
- left to right when one become true then it breaks the iteration and returns true

In [ ]:
(1,2,3)==(2,3,1)

In [ ]:
(1,2,3)<(1,3,4)

In [ ]:
(1,2,3)<(1,1,4)

In [ ]:
(1,2,3)<(1,3,2)

## Universal methods
`len,min,max,sum,sorted`

In [20]:
t=(8,5,9,1,6,2,3,4)
print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))

8
1
9
38
[1, 2, 3, 4, 5, 6, 8, 9]

In [21]:
print(sorted(t,reverse=True))

[9, 8, 6, 5, 4, 3, 2, 1]

In [22]:
t=("python","cat","there","java")
print(sorted(t))

['cat', 'java', 'python', 'there']

In [23]:
t=("python","java","there")
print(sorted(t,key=len,reverse=True))

['python', 'there', 'java']

## Tuple methods

In [24]:
t=(6,5,5,5,3,4,7,8,5)

# count

In [25]:
t.count(5,2)# count() takes only 1 arg but given 2

TypeError: count() takes exactly one argument (2 given)

In [26]:
t.count(5)

4

## Index

In [27]:
print(t)

(6, 5, 5, 5, 3, 4, 7, 8, 5)

In [28]:
t.index(5,4)

8

## Generator
- Generator lazily execute and store the iterable provides the element on demand if the elements are exhausted it will throw stop iteration method

In [ ]:
x=(i**2 for i in (3,4,5,6))
print(x)

In [ ]:
next(x)

In [ ]:
next(x)

In [ ]:
next(x)

In [ ]:
next(x)

In [ ]:
next(x)

In [ ]:
t=tuple(x)
print(t)

In [ ]:
x=(i**2 for i in (3,4,5,6))
print(x)

In [ ]:
t=tuple(x)
print(t)

In [ ]:
next(x)

# Comprehension

In [ ]:
x=[i**2 for i in (3,4,5,6)]
print(x)

In [ ]:
x=[i**2 for i in (3,4,5,6) if i**2>20]
print(x)

# WAP to return maxiumum even number from the given tuple
- input - (8,7,2,3,4,5,100,3,56)
- output - 100

In [ ]:
tuple1=eval(input("Enter numbers seperated by commas - "))
maxi=0
for i in tuple1:
    if i%2==0:
        if i>maxi:
            maxi=i
print(maxi)

In [ ]:
x=(1,2,3,4,68676,53)
print(max(x))

# PB-314

In [ ]:
str2="abcdefghijklmnopqrstuvwxyz"
str1=input("Enter a string : ")
str1=str1.lower()
shift=3
new=" "
ans=""
for i in str1:
    for j in str2:
        if i in j:
            indexno=(str2.find(j)+3)%26
            ans+=str2[indexno]
        elif new in i:
            ans+=" "
print("Ans : ",ans)

# WAP to replace the special symbols in a given string to '#'
- input - l^j$i[e?t
- output - l#j#i#e#t

In [ ]:
import string
oldstr=input("Enter string : ")
symbols=string.punctuation
for i in symbols:
    oldstr=oldstr.replace(i,"#")
print(oldstr)