# Unit-5 Mutable Data Structure (15 marks)
- list,dictionary and set-mutable data structure
- frozenset,lambda functions

# List
`A mutable, iterable, dynamic data structure.`
`It supports indexing and slicing.`
`Duplicate members are allowed.`
`Mixed data types are allowed.`

## Creating a list

In [ ]:
l=[]
m=list()
n=[2,3,4,5]
o=list('python')
p=list((3,4,5))
print(l,m,n,o,p)

In [ ]:
l=[5]
type(l)

In [ ]:
t = (5)
type(t)

## Mutability

In [ ]:
l=[4,5,6,7]
l[0]=800
print(l)

## Indexing and Slicing
`Syntax same as tuple and string`

In [ ]:
k=[5,6,7,8,9,10]
print(k[:])
print(k[::])
print(k[::-1])
print(k[1::2])
print(k[-1:-1])
print(k[-1:-4:-1])

In [ ]:
print(k)

In [ ]:
k[1:3]=[100,200,300,400]
print(k)

## Accessing help inline

In [ ]:
# help()

## 1D, 2D, 3D List

In [ ]:
l=[1,2,3]
m=[[1,2,3],[4,5,6]]
n=[[[1,2,3],[4,5,6]]]
print(l)
print(m)
print(n)

In [ ]:
l[0]

In [ ]:
m[0][0]

In [ ]:
n[0][0][0]

## list is slow

In [ ]:
l=[6,7,8,9]
print(l)
print(id(l))
print(id(l[0]))
print(id(l[-1]))

## Copying of list

### Indirect reference

In [ ]:
l=[1,2,3,4]
m=l[:]
m[0]=100
print(m)
print(l)

### Direct reference

In [ ]:
m=l
m[0]=100
print(l)
print(m)

## Delete

In [ ]:
l=[5,6,7,8]
del l
print(l)

In [ ]:
l=[5,6,7,8]
del l[0]
print(l)

## Updating

### Methods of list

- `dir(list name)`
- `l.tab`

## Append

In [ ]:
n=[36,25,23,14]
print(n)

In [ ]:
n.append(100)

In [ ]:
print(n)

In [ ]:
print(n.append(800))

In [ ]:
n.append('python')
print(n)

In [ ]:
n.append((1,2,3))
n

## Extend

In [ ]:
l=[5,6,7,8]
l.extend(800)

In [ ]:
l.extend([800])#I ran it 4 times
print(l)

In [ ]:
l.extend('python')

In [ ]:
print(l)

In [ ]:
l.extend([7,8,7])

In [ ]:
print(l)

## Clear

In [ ]:
l=[4,5,6]
l.clear()
print(l)

## Count

In [ ]:
l=[35,6,3,64,64,213,54,743,76,7,435]
l.count(64)

In [ ]:
l.count(100)

## Index

In [ ]:
l=[1,2,3,4,2,6,7,5,9,10]
l.index(5)

In [ ]:
l.index(5,4)

In [ ]:
l.index??

## Insert

In [ ]:
l.insert(0,100)

In [ ]:
l

In [ ]:
l.insert(-1,200)

In [ ]:
l

In [ ]:
l.insert(100,2000)

In [ ]:
l

In [ ]:
l.insert(-100,2000)

In [ ]:
l

## pop

In [ ]:
l=[6,7,8,9]
l.pop()
l

In [ ]:
l.pop(10)

In [ ]:
l.pop()
l.pop()
l.pop()

In [ ]:
l.pop()

## remove

In [ ]:
l=[6,7,6,7,8,9]
l.remove(7)
l

In [ ]:
l.remove(100)

## reverse

In [ ]:
l=[1,2,3,4,5,6,7]
l.reverse()
print(l)

In [ ]:
l[::-1]

In [ ]:
l=[4,5,6,7]
l=l.reverse()
print(l)

## sort

In [ ]:
l=[35,5,2341,5,54546,1,35,2,3,24,4,5,34,5,3,2,5,4,25,213]

In [ ]:
l.sort(reverse=True)

In [ ]:
l

In [ ]:
l=['python','this','hi','hello']

In [ ]:
l.sort(key=len,reverse=True)

In [ ]:
l

## Difference between sort and sorted

In [ ]:
l=[6,3,5,8,7,9]
sorted(l)
print('Sorted without print : ',l)
print('Sorted with print : ',sorted(l))

In [ ]:
l.sort()
print(l)

## `+ and *`

In [ ]:
l=[5,6,7]
l+l

In [ ]:
l*4

## List Comprehension

SYNTAX - 
~~~
[ expression for iterator in iterable if <condition>]
~~~

### WAP to extract list of positive even numbers from a given list

'''
`input - [-4,-2,-1,0,1,2,4,5,6,3]`
`output - [2,4,6]`
'''

In [ ]:
user=eval(input("enter a list of numbers"))
print(type(user))
newList=[]

In [ ]:
for i in user:
    if i%2==0 and i>0:
        newList.append(i)
print(newList)

In [ ]:
l=[i for i in user if i%2==0 and i>0]
print(l)

## sort / sorted - key function

In [ ]:
def getlast(s):
    return s[len(s)-1]

In [ ]:
l = ['ab','bb','zd','bc','td']

In [ ]:
l.sort()
print(l)

In [ ]:
l.sort(key=getlast,reverse=True)
print(l)

## WAP to swap first and last element of a list
 
 - input - [4,5,6,7,8]
 - output - [8,5,6,7,4]

In [ ]:
l=[4,5,6,7,8]
l[0],l[-1]= l[-1],l[0]
print(l)

## Universal Methods
`len, min, max, sorted`

In [ ]:
l=[4,5,6,7,8]
print(len(l))
print(min(l))
print(max(l))
print(sum(l))
print(sorted(l))

## WAP to find the sum of elements in a given list without using sum function

```
INPUT - [3,4,5,-1]
OUTPUT - The sum is 11
```

## WAP to find the sum of elements in a given list , returning 0 if the list is empty.Except number 13 is very unlucky, so it doesnt count it and the number coming immediately after 13 is'nt counted

```
input = [13,1,2,3,13]
output = 5
```

```
input = [13,1,2,3,13,100,5]
output = 10
```

In [ ]:
sum=0
newList=[]
inputlist=eval(input("enter a list of numbers : "))
for i,j in enumerate(inputlist):
    if j==13 or inputlist[i-1]==13:
        continue
    elif inputlist == []:
        print(0)
    else:
        newList.append(j)
print(newList)
for i in newList:
    sum+=i
print(sum)

# Dictionary

- An Associative array/Mapping
- Key Value pair
- key must be unique i.e. immutable
- Values can be duplicated
- indexing has no meaning

## Creation of Dictionary

In [ ]:
d={}
type(d)

In [ ]:
d=dict()
type(d)

In [ ]:
d=dict([('Python','name'),(20,'Age')])

In [ ]:
print(d)

In [ ]:
d={5}
type(d)

In [ ]:
d = {(1,2,3):100,5:'python'}
print(d)

In [ ]:
#Key must be immutable
d={[1,2,3]:100,5:'python'}
print(d)

## json is python dictionary

In [ ]:
s = {
    'name' : 'python',
    'college' : 'ljiet',
    'subjects' :
    {
        'dsa':50,
        'english':100
    }
}

In [ ]:
print(s)

## Accessing & Adding elements

In [ ]:
d={'name':'python','age':40,'city':"Ahmedabad",4:600}

In [ ]:
print(d['name'])

In [ ]:
print(d[4])

## Get Method

In [ ]:
print(d)

In [ ]:
d.get??

In [ ]:
d.get('name')

In [ ]:
d.get('job')

In [ ]:
print(d.get('job'))

In [ ]:
print(d.get('job','nothing'))

In [ ]:
d['id']='nothing'

In [ ]:
print(d)

## Deleting Elements

In [ ]:
print(d)

In [ ]:
del d['id']

In [ ]:
print(d)

In [ ]:
del d[4]

In [ ]:
print(d)

## Removing elements through methods

### Clear

In [ ]:
d

In [ ]:
d.clear()

In [ ]:
print(d)

In [ ]:
d = {
    'name' : 'python',
    'college' : 'ljiet',
    'subjects' :
    {
        'dsa':50,
        'english':100
    }
}

## Pop

In [ ]:
d

In [ ]:
d.pop('subjects')

In [ ]:
d

In [ ]:
d.pop('Lisr')

In [ ]:
d.pop()

In [ ]:
d.pop(5,'hello')

### popitem

In [ ]:
d = {
    'name' : 'python',
    'college' : 'ljiet',
    'subjects' :
    {
        'dsa':50,
        'english':100
    }
}

In [ ]:
d.popitem()

In [ ]:
d

In [ ]:
d.popitem()

In [ ]:
d

In [ ]:
d.popitem()

In [ ]:
d

In [ ]:
d.popitem()

## Lopping Through Dictionary

In [ ]:
d = {
    'name' : 'python',
    'college' : 'ljiet',
    'subjects' :
    {
        'dsa':50,
        'english':100
    }
}

In [ ]:
d

In [ ]:
for  i in d:
    print(i)

## Accessing key value pair

In [ ]:
d.items()

## Accessing Keys

In [ ]:
d.keys()

## Accessing values

In [ ]:
d.values()

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i,j in d.items():
    print(i,':',j)

### Copy

In [ ]:
d

In [ ]:
s=d.copy()
print(s)
print(id(s))
print(d)
print(id(s))

### fromkeys

In [ ]:
d

In [ ]:
d.fromkeys()

In [ ]:
d.fromkeys('python')

In [ ]:
d.fromkeys('python',200)

In [ ]:
d.fromkeys([1,2,3,4,5],190)

In [ ]:
d

In [ ]:
d = d.fromkeys('python',13)

In [ ]:
d

### setdefault

In [ ]:
d = {
    'name' : 'python',
    'college' : 'ljiet',
    'subjects' :
    {
        'dsa':50,
        'english':100
    }
}

In [ ]:
d

In [ ]:
d.setdefault(10)

In [ ]:
d

In [ ]:
d.setdefault(12,2000)

In [ ]:
d

In [ ]:
d.setdefault('dsa')

In [ ]:
d

### Update

In [ ]:
print(d)

In [ ]:
d1={1:'python',6:'java','name':"Chitti"}

In [ ]:
d.update(d1)

In [ ]:
d

## Universal methods

`len and sorted`

In [ ]:
d

In [ ]:
print(len(d))

In [ ]:
print(sorted(d))

## Membership

In [ ]:
100 in d

In [ ]:
12 in d

## Dictionary Comprehension

** SYNTAX **
```python
{key,value: for key, value in <iterable> if <condition>}
```

In [ ]:
squares={x:x**2 for x in range(6) if x%2!=0}

In [ ]:
squares

# WAP to create freq count for words in a given sentence
```
input - the quick brown fox jumps over the dog

output - {'the':2,'quick':1,...}
```

In [ ]:
sentence="the quick brown fox jumps over the dog"
sentence.lower()
words=sentence.split(" ")

In [ ]:
count=0;
d={}
for i in words:
    d.setdefault(i,words.count(i))

In [ ]:
d

In [ ]:
inp='the quick brown fox jumps over the dog'
freq={i:inp.count(i) for i in inp.split()}
freq

In [ ]:
inp='the quick brown fox jumps over the dog'
d={}
l=inp.split()
for i in l:
    d[i]=d.get(i,0)+1
d

## Merge dictionary

In [ ]:
d1={1:100,2:200}
d2={3:300,4:400}
d1.update(d2)

In [ ]:
d1

In [ ]:
sentence="Don't wait for your feelings to change to take the actions. Take the action and your feelings will change"
sentence.upper()

In [ ]:
d={}
words=sentence.split()

In [ ]:
for i in words:
    d[i[0]] = d.get(i[0],[])
    d[i[0]].append(i)
print(d)

## WAP to get single digits in numbers sorted backwards and converted to eng words

```
inp=[1,3,4,5,11,22]
output=['five','four','three','one']
```

# SET
- A mutable data structure
- a collection of unique items
- One can add or remove items

## Creating a set

In [1]:
s={}
type(s)

dict

In [2]:
s=set()
type(s)

set

In [3]:
s={1,2,2,2,4,4,4,5,5,3,3}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [4]:
s={'hi',[1,2,3],4,5,4,6}
s

TypeError: unhashable type: 'list'

In [5]:
s={'hi',(1,2,3),4,5,4,6}
s

{(1, 2, 3), 4, 5, 6, 'hi'}

## Modifying a set

In [7]:
s = {1,2,3,5}
s[0]
# Since it is unordered, indexing and slicing has no meaning

TypeError: 'set' object is not subscriptable

In [8]:
s={7,5,34,43,52}
s

{5, 7, 34, 43, 52}

## Set Methods

### Add

In [9]:
s

{5, 7, 34, 43, 52}

In [10]:
s.add(12)

In [11]:
s

{5, 7, 12, 34, 43, 52}

In [14]:
s.add('Hi')#Takes only one element at a time

In [15]:
s

{12, 34, 43, 5, 52, 7, 'Hi'}

### Update

In [16]:
s

{12, 34, 43, 5, 52, 7, 'Hi'}

In [17]:
s.update([7,8,9])

{12, 34, 43, 5, 52, 7, 8, 9, 'Hi'}

In [18]:
s.update('python')

In [19]:
s

{12, 34, 43, 5, 52, 7, 8, 9, 'Hi', 'h', 'n', 'o', 'p', 't', 'y'}

In [20]:
s.update([200,300],(20,30,40),{111,222,333})

In [21]:
s

{111,
 12,
 20,
 200,
 222,
 30,
 300,
 333,
 34,
 40,
 43,
 5,
 52,
 7,
 8,
 9,
 'Hi',
 'h',
 'n',
 'o',
 'p',
 't',
 'y'}

## Removing elements

In [23]:
my_set={1,3,4,5,6}

### Discard

In [24]:
my_set.discard(6)

In [25]:
my_set

{1, 3, 4, 5}

In [26]:
my_set.discard(90)

In [27]:
my_set

{1, 3, 4, 5}

### Remove

In [29]:
my_set

{1, 3, 4, 5}

In [30]:
my_set.remove(5)

In [31]:
my_set

{1, 3, 4}

In [32]:
my_set.remove(100)

KeyError: 100

## Type Conversion

In [33]:
s=set((7,8,9))

In [34]:
s

{7, 8, 9}

In [35]:
s=set([3,5,4,2])
s

{2, 3, 4, 5}

In [36]:
s='python'
s

'python'

In [37]:
s='aaabbbccc'

In [38]:
s

'aaabbbccc'

### Clear method

In [39]:
s={4,5,6,7}

In [40]:
s.clear()

In [41]:
s

set()

## Set Operations

In [42]:
A={1,2,3,4,5}
B={4,5,6,7,8}

### Set Union

#### Union Method

In [43]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

#### Another Operator

In [44]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

####  Intersection Method

In [45]:
A.intersection(B)

{4, 5}

#### Another Method

In [46]:
A & B

{4, 5}

#### Diffrence method

In [47]:
A.difference(B)

{1, 2, 3}

#### Another method

In [48]:
A - B

{1, 2, 3}

#### Symmetric diffrence

In [50]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

#### Another method

In [ ]:
A ^ B

#### Subsets and Supersets

In [52]:
U={1,2,4,3,4,5,6,7}
A={4,5,6}

In [53]:
A.issubset(U)

True

In [54]:
A.issuperset(U)

False

#### isdisjoint

In [55]:
A={1,2,3}
B={4,5,6}

In [56]:
A.isdisjoint(B)

True

## Membership Test

In [57]:
A

{1, 2, 3}

In [58]:
3 in A

True

In [59]:
 5 in A

False

## Set Comprehension

#### Syntax

` { expression for iterator in iterable if <condition>}`

In [62]:
A={i**3 for i in range(6) if i%2==0}
print(A)

{0, 8, 64}

# Frozenset
- An immutable set
- All the methods remains same
- Since it is immutable,it does not allow adding or removing element

In [63]:
f=frozenset([1,2,3,4])
f1 = frozenset({3,4,5,6})

In [64]:
f

frozenset({1, 2, 3, 4})

In [65]:
f1

frozenset({3, 4, 5, 6})

# Lambda / Anonymous function
- A small anonymous function
- It can take any number of arguments,but can have only one expression
- It has no return value;infact it returns a function
- One liner
- Not reusable

   ```PYTHON  **SYNTAX**
    lambda a,b : a+b
    ```
    
    - lambda keyword
    - parameter - a and b
    - colon - its function
    - Expression - must be a valid single python expression

## Example

In [66]:
a = lambda x,y:x+y
print(a(7,8))

15

In [67]:
a = lambda  x : "even" if x%2==0 else "odd"

In [68]:
a(4)

'even'

In [70]:
add = lambda x ,y = 15,z=24:x+y+z

In [72]:
add(1)

40

In [73]:
add(24,13)

61

In [74]:
add(24,36,84)

144

# Map, Reduce And Filter

## Map

In [75]:
map??

In [81]:
l = [10,40,56,27,13,15,70]

In [82]:
double = map(lambda x:x**2,l)
double

In [83]:
print(list(double))

[100, 1600, 3136, 729, 169, 225, 4900]

### Another Example

In [87]:
L=[1,2,3,4,5]
print(list(map(lambda x:'even' if x%2==0 else 'odd',L)))

['odd', 'even', 'odd', 'even', 'odd']

## Filter

In [88]:
l=[10,20,30,46,21,57,34]
divide = list(filter(lambda x: (x%4==0),l))

In [89]:
divide

[20]

In [92]:
s = {23,3,4,5}
for i in s:
    print(i)
type(s)

3
4
5
23

set

In [95]:
fruits=['safarjan','lamba kela','bora','nagarveli na pan']

In [97]:
print(list(filter(lambda x: x.startswith('s'),fruits)))

['safarjan']

## Reduce

In [98]:
from functools import reduce

In [99]:
L1= [2,5,10,6,4,2]
product=reduce(lambda x,y:x*y,L1)
print(product)

4800

In [100]:
maxvalue=reduce(lambda x,y: x if x >y else y,[23,21,55,24,867,12])
maxvalue

867

### WAP to find the sum of positive numbers and negative numbers in a given list using lambda function

In [ ]:
input = [-4,-2,0,1,2,3,4]
output = sum of positive numbers - 10
         sum of negative numbers - -6

In [105]:
inp=list(eval(input("Enter elements seperated with commas")))

Enter elements seperated with commas1,2,3,4,5,0,-1,-5,-7

In [110]:
possum=list(filter(lambda x:x>0,inp))
possum
sum(possum)

15

In [111]:
posneg=list(filter(lambda x:x<0,inp))

In [112]:
posneg
sum(posneg)

-13

In [121]:
def countchar(s,char):
    count=0
    for c in s:
        if c==char:
            count+=1
    return count

In [122]:
countchar('hello','l')

2